.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0.5rem 2rem;
  > div {
    width: 15rem;
  }

  > div:first-child {
    text-align: start;
  }
}
.header-logo {
  height: 50px;
  width: 3rem;
}
.logo {
  font-size: 0.7rem;
  padding-left: 4rem;
}
.icons {
  display: flex;
  gap: 20px;
}
.lang {
  border: none;
}
.nav-content {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(218, 215, 215);
}
.home,
.menu {
  display: none !important;
}
.menu {
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.menu-overlay.open {
  transform: translateX(0);
}

.menu-overlay .close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-items h4 {
  margin: 0;
}

.logoCon {
  display: flex;
  align-items: center;
}

.option {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .menu-overlay {
    padding: 40px;
  }

  .menu-items {
    font-size: 24px;
  }
  .contact-icon {
    display: none;
  }
  .option {
    display: none;
  }
  .nav-content {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 420px) {
  .header-container {
    margin: 0.5rem 0;
    > div {
      width: 6rem;
    }
  }
  .icons {
    gap: 0.5rem;
  }
  .nav-content {
    display: none;
  }
  .menu {
    display: inline-block !important;
    height: 2rem !important;
  }
  .logoCon {
    display: flex;
    align-items: center;
  }
  .home {
    display: block !important;
    display: flex !important;
    gap: 2rem;
    margin-left: 2rem;
    color: rgb(177, 173, 173);
    > h5:last-child {
      color: black;
    }
  }
  .logo {
    padding: 0;
  }
}
